{% extends "users/base_login.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class= "content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reiniciar Password</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Solicitar Reinicio</button>
				<small class="text-muted ml-2">
					<a class="ml-2" href="{% url 'login' %}">Volver</a>
				</small>
			</div>
		</form>
	</div>
{% endblock content %}